@import 'constants.css';

#about-content {
    padding: 1rem 5%;
    padding-bottom: 5rem;
}

#about-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-item {
    width: 100%;
    padding: 3rem 2rem;
    margin: 2%;
    background-color: var(--white-div-bg);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    /* display: flex;
    justify-content: center; */
}

.about-header-container {
    display: flex;
}

.about-header-img {
    height: 1.8rem;
    padding-right: .5rem;
}

.about-header {
    font-family: var(--rubik);
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--medium-color);
}

.about-subitems {
    padding: 1.5rem 3rem;
    padding-bottom: 0;
}

.about-title {
    font-family: var(--rubik);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--medium-color);
}

.about-subtitle {
    color: var(--medium-color);
    font-weight: 700;
    font-size: 1rem;
}

.about-description {
    color: var(--medium-color);
}

.about-webinars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-webinars img {
    height: 40vh;
    padding: 1rem;
}

@media screen and (max-width: 600px) { 
    /* #about-container {
        flex-direction: column;
        align-items: center;
    } */
}
