@import 'constants.css';

* {
  margin: 0;
  padding: 0;
  font-family: var(--open-sans);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.main-section {
  padding-top: 8vh;
}

#skills, #about {
  background-color: rgba(255, 255, 255, 0.3) ;
  box-shadow: var(--shadow);
}

h1 {
  font-family: var(--rubik);
  font-weight: 900;
  font-size: 2.5rem;
  text-align: left;
  color: var(--darkest-color);
  text-shadow: var(--shadow);
}

h3 {
  font-family: var(--open-sans);
  font-weight: normal;
  font-size: 1.3rem;
  color: var(--darkest-color);
  padding-bottom: 1rem;
}

p {
  font-family: var(--open-sans);
  font-weight: normal;
  font-size: .9rem;
  text-align: left;
  color: var(--darkest-color);
}

#section-header h1 {
  width: fit-content;
  padding: 0 1.2rem;
  font-size: 2.3rem;
  border-bottom: .6rem solid var(--darkest-color);
}

.message-btn {
  position: fixed;
  right: 0;
  bottom: 2vh;
  border-radius: 1.5rem 0 0 1.5rem;
  border: none;
  background: var(--btn-bg);
  box-shadow: var(--shadow);
  font-family: var(--rubik);
  font-size: 1.1rem;
  font-weight: 700;
  padding: .8rem 1.3rem;
  color: var(--medium-color);
}

.message-btn:hover {
  cursor: pointer;
  background: var(--btn-hover);
}

.message-btn:focus {
  outline: none;
}

.message-btn img {
  height: 2rem;
}

#section-header {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #section-header h1 {
    font-size: 1.8rem;
    border-bottom: .4rem solid var(--darkest-color);
  }
}