:root {
    --darkest-color: #042549;
    --medium-color: #21847F;
    --btn-bg: #CEE8E5;
    --white-div-bg: #F2FAF9;
    --btn-hover: #CAE3E0;
    --nav-hover: #284565;
    --open-sans: "Open Sans", sans-serif;
    --rubik: "Rubik", sans-serif;
    --shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}