@import 'constants.css';

#home {
  height: 92vh;
}

#home-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-inner-container {
  display: flex;
  align-items: center;
}

.profile-image-container {
  padding-right: 3rem;
}

.profile-image {
  height: 40vh;
  border: .5rem solid var(--darkest-color);
  border-radius: 50%;
  cursor: pointer;
}

#icon-with-link {
  display: flex;
  align-items: center;
}

#icon-with-link img {
  width: 2.3rem;
  margin-right: .5rem;
}

.contact-me-btn {
  border-radius: .7rem;
  border: none;
  background: var(--btn-bg);
  box-shadow: var(--shadow);
  font-family: var(--rubik);
  font-size: 1.1rem;
  font-weight: 700;
  padding: .5rem 1.3rem;
  margin-top: 1rem;
  color: var(--medium-color);
}

.contact-me-btn:hover {
  cursor: pointer;
  background: var(--btn-hover);
}

.contact-me-btn:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  #home-content {
    padding: 0 2rem;
  }

  #home-inner-container {
    flex-direction: column;
  }

  .profile-image-container {
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .profile-image {
    height: 35vh;
  }
}
