@import 'constants.css';

#navigation-bar {
  color: #ffffff;
  height: 8vh;
  width: 100%;
  background-color: var(--darkest-color);
  display: flex;
  align-items: center;
  font-family: var(--rubik);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: flex-start;
}

.navigation-icon,
.navigation-logo,
.navigation-hamburger {
  height: 1.5rem;
}

.navigation-logo,
.navigation-hamburger {
  margin-left: auto;
  margin-right: 1rem;
}

.navigation-hamburger {
  display: none;
}

.navigation-link {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover {
  font-weight: 900;
  font-size: 1.1rem;
}

.navigation-icon:hover {
  height: 1.6rem;
}

.navigation-clicked {
  animation: click 200ms linear;
}

@keyframes click {
  to {
    background-color: var(--nav-hover);
  }
}

@media screen and (max-width: 600px) {
  #navigation-bar a:not(:first-child),
  .navigation-logo {
    display: none;
  }

  .navigation-hamburger {
    display: block;
  }

  /* hamburger clicked */

  #navigation-bar.responsive {
    position: fixed;
    padding-top: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  #navigation-bar.responsive .navigation-hamburger {
    position: absolute;
    right: 0;
    top: 1rem;
  }

  #navigation-bar.responsive a:not(:first-child) {
    display: block;
    background-color: var(--darkest-color);
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
