@import 'constants.css';

#projects-content {
    padding: 1rem;
    padding-bottom: 5rem;
}

#projects-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    width: 40%;
    padding: 1.5rem 2rem;
    margin: 2%;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.project-item div {
    width: 100%;
    display: flex;
    align-content: center;
}

.project-details {
    display: flex;
    flex-direction: column;
    padding: .5rem .9rem;
}

.project-img {
    height: 10rem;
}

.project-name {
    font-family: var(--rubik);
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding-bottom: .5rem;
}

.project-link {
    font-family: var(--open-sans);
    font-weight: normal;
    font-size: .9rem;
    text-align: left;
    color: var(--darkest-color);
    padding-top: .5rem;
}

.project-link:hover {
    color: var(--darkest-color);
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .project-item {
        width: 60%;
        margin: 4%;
    }

    .project-img {
        height: auto;
    }

    .project-item div {
        flex-direction: column;
    }
}
