@import 'constants.css';

#skills-content {
    padding: 1rem 5%;
    padding-bottom: 5rem;
}

#skills-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    /* width: 20%; */
    padding: 1.5rem 2rem;
    margin: 2%;
    background-color: var(--white-div-bg);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.skill-item div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.skill-img {
    max-height: 7.5rem;
    max-width: 7.5rem;
    margin-bottom: 1.2rem;
}

.skill-name {
    font-family: var(--rubik);
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (max-width: 600px) { 
    #skills-container {
        flex-direction: column;
        align-items: center;
    }
}
